body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding: 1rem;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 340px; /* Limita a 3 colunas de 100px + gaps em telas grandes */
}

.caixa {
  aspect-ratio: 1 / 1;
  background-color: black;
  width: 100%;
  border-radius: 100%;
}
#botao_jogar {
  margin: 5vh;
  background-color: #000000; /* Azul */
  color: white;              /* Texto branco */
  border: none;              /* Sem borda */
  padding: 10px 20px;        /* Espaçamento interno */
  font-size: 16px;           /* Tamanho da fonte */
  border-radius: 5px;        /* Cantos arredondados */
  cursor: pointer;           /* Cursor de mãozinha */
  transition: background-color 0.3s;
}

